@model IEnumerable<Dev.App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Products List";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-info" asp-action="Create">New Product</a>
</p>
<partial name="_ProductsList" />